// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Our color schema:
$header: #222222;
$text-primary: #333333;
$text-secondary: #666666;
$thematic: #05C8A6;
$thematic-inv: #21314d;
$bg: #FFFDF9;
$thematic-blur: rgba(242,175,40,0.35);
$thematic-inv-blur: hsla(211,70%,26%,1);

.col-thematic {
  color: $thematic !important;
}

.col-thematic-inv {
  color: $thematic_inv !important;
}

.col-header {
  color: $header !important;
}

.col-text-primary {
  color: $text-primary !important;
}

.col-text-secondary {
  color: $text-secondary !important;
}

.bg-thematic {
  background-color: $thematic !important;
}

.bg-thematic-inv {
  background-color: $thematic_inv !important;
}

.bg-header {
  background-color: $header !important;
}

.bg-text-primary {
  background-color: $text-primary !important;
}

.bg-text-secondary {
  background-color: $text-secondary !important;
}

// specials
.thematic-blur {
  color: $thematic-blur;
}
