// Import page-specific CSS files here.
@import "home";

#activities_page {

  .show {
    opacity: 1;
    //transition: opacity 1000ms;
  }

  .activities-page-container {
    margin: 30px 0px;
  }

  .shortlist-card-remove-button {
    width: 20px;
    .btn {
      padding: 10px;
      min-width: 2rem;
    }
  }

  .search-not-found-start {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .search-not-found-end {
    color: #FF4081;
    opacity: 0;
    transition: opacity 2000ms ease-in;
  }

  .opac-0 {
    opacity: 0;
  }

  .opac-1-fadein {
    opacity: 1;
    transition: opacity 2000ms ease-in;
  }

  .on-list {
    color: #05C8A6;
    border-style: solid !important ;
    border-width: thin;
    border-color: #05C8A6;
  }

  .shortlist-col {
    min-width: 200px;
    max-width: 300px;
  }

  .categories-col {
    padding-left: 20px;
    padding-rght: 20px;
  }

  .form-col {
    padding-left: 20px;
    padding-right: 20px;
  }


  .cat-btn {
    margin-bottom: 10px;
  }

  form {
    margin-bottom: 10px;
    label {
      margin-right: 10px;
      color: $thematic;
      font-size: 16px
    }
    input.form-control {
      width: 300px;
    }
  }
}
