#fromGroupTransport {
   input {
    display: none;
  }

  label {
    margin-right: 13px;
  }
}

.btn-secondary {
  background-color: #FF9F1C;
}

.btn-primary {
  background-color: #05C8A6;
}

.js-btn {
    width: 120px;
    height: 80px;
    font-size: 40px !important ;
    padding: 18px;
    background-color: white;
    color: #05C8A6;

}

