#fromGroupTransport {
   input {
    display: none;
  }
  label {
    margin-right: 13px;
  }
}

.btn-secondary {
  background-color: #FF9F1C;
}

.btn-primary {
  background-color: #05C8A6;
}

.js-btn {
  background: white !important;
  color: #cfcfcf !important;
  width: 120px;
  height: 80px;
  font-size: 40px !important;
  padding: 18px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1) !important;
  &:hover {
    cursor: pointer !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2) !important;
  }
  &.active {
    color: $thematic !important;
    border-bottom: 5px solid $thematic !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2) !important;
  }
}

.btn-act {
    color: #05C8A5;
    border-color: #05C8A6;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-image: none;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    max-width: 100%;
    min-width: 5.5rem;
    padding: 0.6875rem 1rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-act:hover {
  background-color: #21314d;
  border-width: medium;
  color: #05C8A5;

}

.btn-act.active {
  background-color: #21314d;
  border-width: medium;
  color: #05C8A5;

}
