// .category-choices {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
//   margin: 20px 0;
// }

.category-choice {
  background: white;
  color: #cfcfcf;
  padding: 20px;
  border-radius: 5px;
  flex: 0 0 30%;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  .fas {
    font-size: 35px;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
  &.active {
  color: $thematic;
  border-bottom: 5px solid $thematic;
  }
}

.collection_check_boxes {
  width: 100%;
  padding: 0px 20px;
}
