// .category-choices {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
//   margin: 20px 0;
// }

.category-choice {
  background: white;
  color: #cfcfcf;
  padding: 20px;
  border-radius: 5px;
  flex: 0 0 30%;
  text-align: center;
  width: 130px;
  font-weight: bold;
  font-size: 12px;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
  .fas {
    font-size: 20px;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.15);
  }
  &.active {
  color: $thematic;
  border-bottom: 5px solid $thematic;
  }
}

.collection_check_boxes {
  width: 100%;
  padding: 0px 20px;
}

.plan-categories-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
