#modal {
  h4, h5 {
    color: $thematic;
  }

  .modal-content {
    border: none;
  }

  img {
    height: 100px;
    width: 100px;
  }

  .modal-footer .btn {
    color: $text-secondary;
  }

  .card-rating {
    color:  $text-secondary;
    i {
      color: #FFC107 !important;
    }
  }

  .opening-hours {
    padding: 0px;
    margin: 0px;
  }

  a.show-more {
    color: $thematic;
    &:hover {
      color: $thematic;
    }
  }
}
