.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

.form-plan {
  background: white;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}

*:focus {
  outline: 0 !important;
  border-color: #e0e0e0 !important;
  box-shadow: none !important;
  }

#plan-city {
  border-color: #e0e0e0 !important;
  box-shadow: none !important;
}

.form-check {
  padding: 0px;
}

.col-form-label {
  display: none;
}

.num {
  input {
    text-align: center;
  }
  button {
    font-size: 20px;
    font-weight: bold;
    color: #05C8A6;
    border: none;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.from-pref {
  border-radius: 7px;
  padding: 35px;
  /* border-color: #f0f0f0; */
  /* border-style: solid; */
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  h5 {
    color: #05c8a6;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.c-position {
    position: absolute;
    bottom: 0;
    width: 326px;
    left: 0px;
    transition: ease .5s all;
}

.from-pref-1 {
    border-radius: 7px;
    min-height: 69vh;
    background: white;
    width: 262px;
    padding: 14px;
    position: sticky;
    top: 10px;
    /* border-color: #f0f0f0; */
    /* border-style: solid; */
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    h3 {
      text-align: center;
      font-size: 16px;
      /* text-transform: uppercase; */
      /* letter-spacing: 3px; */
      color: #a4a4a4;
      text-transform: uppercase;
      color: #05c8a6;
      font-weight: bold;
    }
}

.delete_break {
  text-decoration: none !important;
}

