.header-pref {
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgb(210,210,210);
  border-color: #05C8A6;
}

.head-label {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.38);
  display: inline-block;
}
