.picture {
  width: 500px;
}

.icon-hiw {
  font-size: 40px !important;
}
.section-steps {
  h2 {
  padding: 53px 23px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: 400;
    span {
      box-shadow: inset 0px -8px #05c8a6;
    }
  }
 }
