// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'daemonite-material/css/material';


// Your CSS partials
@import "components/index";
@import "pages/index";



// NEEDED TO AVOID ICON CONFLICT BETWEEN BOOTSTRAP AND MATERIAL
.dropdown-toggle::after {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
}

p, div {
  font-family: $body-font;
}

