<div id="activities_page" class="grid-container">
  <div class="bg-1 span2c">
    <% @categories.each_with_index do |text, ind| %>
    <p id="<%= ind %>" class="cat-btn btn btn-secondary"><%= text %></p>
    <% end %>
  </div>
  <div class="bg-2"><h2>Test Results</h2>
    <ul id="activities">
    </ul>
  </div>
  <div class="bg-3">
    <h4>SHORTLIST</h4>
    <p id="submit_shortlist" class="btn btn-success">Continue with Shortlist</p>
    <ul id="shortlist">
    </ul>
  </div>
</div>






