<div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h1 class="text-center">Choose categories</h1>
        <div class="form-plan ">
          <div class="col-xs-6">
            <%= simple_form_for(@plan) do |f| %>
              <div class="category-choices">
                <%= f.input :categories, collection: ['Museum', 'Park', 'Shopping', 'Art Gallery', 'Wildlife'], as: :check_boxes, input_html: { class: 'd-none'}, label_method: ->(item) { tag.div(item, class: 'category-choice') } %>
              </div>
              <%= f.submit "Save", class: "btn btn-primary bg-thematic-inv" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
