<h1>Choose categories</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-plan">
        <h1>Write a post</h1>
        <div class="row">
          <div class="col-xs-6">
          </div>
          <div class="col-xs-6">
          </div>
        </div>
          <!-- Inject categories here -->
        <%= simple_form_for(@plan) do |f| %>
          <%= f.input :categories, collection: ['museum', 'park', 'shopping', 'art gallery', 'wildlife'], as: :check_boxes, input_html: { class: 'd-none'}, label_method: ->(item) { tag.div(item, class: 'category-choice') } %>
          <%= f.submit "Save", class: "btn btn-primary"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
